@import "ui-variables";

@default-panel-color: hsl(180, 15%, 20%);
@default-font: monospace;
@default-font-size: 14px;

.f5-run-file {
  background-color: @default-panel-color;
}

#sidepanel {
  padding: 20px 30px;
  max-height: 400px;
  min-height: 400px;
  overflow: scroll;
  background-color: @default-panel-color;
  border-width: 0px;
  font-family: @default-font;
  font-size: @default-font-size;
}

#inputform {
  padding: 20px 30px;
  background-color: @default-panel-color;
  border-width: 0px;
  font-family: @default-font;
  font-size: @default-font-size;
}

hr {
  border-top: 2px solid hsl(180, 15%, 42%);
  margin: 5px 5px
}
