// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.f5-run-file {
  background-color: hsl(180, 15%, 20%);
}

#sidepanel {
  padding: 20px 30px;
  max-height: 400px;
  min-height: 400px;
  overflow: scroll;
  background-color: hsl(180, 15%, 20%);
  border-width: 0px;
}

#inputform {
  padding: 20px 30px;
  background-color: hsl(180, 15%, 20%);
  border-width: 0px;
}

#mainpanel {
  background-color: hsl(180, 15%, 20%);
}

hr {
  border-top: 2px solid hsl(180, 15%, 42%);
  margin: 0px 5px
}
